.row {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.col {
  padding: 50px;
  background: #fff;
}
.title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

:global(.x) {
  color: red;
}
